.LLMChatScrollContainer {
  background-color: var(--background-secondary);
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  width: 100vw;
  z-index: 100;
  transition: 0.5s;
  grid-area: 2/1/4/1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: flex-end;
  justify-self: center;
}

.LLMChatScrollContainerCollapsed {
  height: 0px !important;
  padding-top: 0px !important;
  border: 0px;
}

.nav {
  cursor: pointer;
  width: auto;
  display: flex;
  margin-left: 20px;
  flex-shrink: 0;
  margin-bottom: 10px;
  > div {
      margin-left: 5px;
      font-size: 18px;
  }
  justify-content: space-between;
}

.navBack {
  display: flex;
}

.LLMInputContainer {
  height: 30%;
  width: 100%;
  overflow-y: auto;
  flex-shrink: 0;

  margin-top: 10px;
  border-left: 3px solid #ccc; /* Adjust the color as needed */
  background-color: #f8f8f8; /* Light background for the quote */
  padding: 10px 15px; /* Add padding for spacing */
  margin: 10px 0; /* Margin for separation from other elements */
  font-style: italic; /* Optional: Italicize the quoted text */
  overflow-y: auto; /* Keeps it scrollable */
  height: 30%; /* Adjust as needed */
  width: 100%;
}

.qaBotTitle {
  margin-left: 10px; /* Adjust spacing as needed */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: makes it bold */
  color: #333; /* Adjust color as needed */
  align-self: center; /* Align vertically within the flex container */
  justify-content: center; /* Align horizontally within the flex container */
  text-align: center; /* Align text within the container */
}

.LLMChatMessagesContainer {
  height: auto; /* Removed fixed height */
  flex-grow: 1;
  overflow-y: auto;
}

.LLMChatInputContainer {
  display: flex;
  flex-shrink: 0;
}

.LLMChatInputTextBox {
  flex: 4;
  overflow-y: auto;
}

.LLMChatInputSendButton {
  flex: 1;
}

.userMessage {
  color: blue;
}

.botMessage {
  color: red;
}

.LLMChatLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
