// This scroll container is necessary because of a visual bug.
// If there is a scrollbar and a border-radius on the container, the blockiness of the scrollbar will stick out
// See for example: https://stackoverflow.com/questions/62789354/how-to-hide-scrollbar-thumb-in-border-radius-element
// TODO: Is the casing here correct?
.LLMChatScrollContainer{
  background-color:var(--background-secondary);
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height:300px;
  width: 100vw;
  max-width: 500px;
  z-index: 100;
  transition:0.5s;
  // Move the default position a few pixels down
  // transform: translateY(-40px);
  // padding-top: 10px;
  // padding-right: 50px;

  grid-area: 2/1/4/1;
  overflow: hidden;
  
  align-self: flex-end;
  justify-self: center;
}

.LLMChatScrollContainerCollapsed{
  height:0px !important;
  padding-top:0px !important;
  border:0px;
}

.LLMChatContainer{
  height:289px; // height - (border-top  + paddingtop)
  width: calc(100vw - 10px);
  max-width: 490px;
  overflow-y:scroll;

  // padding:0 15px 50px 15px;
  

  transition: 1s;
  // padding-bottom: 100px;
}

.LLMChatMessagesContainer {
  height: 90%;
  overflow-y: auto;
}

.LLMChatInputContainer {
  display: flex;
}

.LLMChatInputTextBox {
  flex: 4;
  overflow-y: auto;
}

.LLMChatInputSendButton {
  flex: 1;
}

.userMessage {
  color: blue; 
}

.botMessage {
  color: red; 
}

.LLMChatLoaderContainer {
  display: flex;
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
  height: 100%; // Adjust as needed to fill the chat window or parent container
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}